# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/
env/

# Packaging
build/
dist/
*.egg-info/

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Testing
.pytest_cache/
.coverage
htmlcov/

# ML artifacts
models/artifacts/*
!models/artifacts/.gitkeep

# Datasets
datasets/raw/*
!datasets/raw/.gitkeep

datasets/processed/*
!datasets/processed/.gitkeep

# Logs
*.log

# Temporary files
*.tmp